---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About me">
  <div class="cmd-line">cat about.txt</div>
  <p>Programmer since 2008.</p>

  <div class="cmd-line" style="margin-top: 2rem;">cat languages.txt</div>
  <ul>
    <li>Java <em>(Android included)</em></li>
    <li>C#</li>
    <li>Kotlin</li>
    <li>Python</li>
    <li>PHP <em>(codeigniter included)</em></li>
    <li>JS <em>(Jquery, Vue, Angular included)</em></li>
    <li>HTML</li>
    <li>CSS</li>
    <li>SASS</li>
    <li>Dart <em>(Flutter included)</em></li>
    <li>VB.NET</li>
    <li>C++</li>
    <li>C</li>
    <li>VB2005</li>
  </ul>
</BaseLayout>
