---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Privacy Terms - Simple Instagram Downloader">
  <div class="cmd-line">cat privacy-ig-downloader.txt</div>
  <p>
    The app Simple Instagram Downloader doesn't collect any user data, the code is open source
    and publicly available at my GitHub profile.
  </p>
  <p>
    The app does show a little advertising banner that work trough admob, for info about how
    admob treats users' data check admob's privacy policy.
  </p>
</BaseLayout>
